<nav class="overlay-menu">
    <div class="tags">
			{{#foreach tags}}
			<a href="{{url}}" target="_blank">{{name}}</a>
			{{/foreach}}
	</div>
    <ul>
        {{#foreach navigation}}

        <li><a href="{{url absolute=" true "}}">{{label}}</a></li>

        {{/foreach}}
    </ul>
</nav>
