{{!< default}} 
<header>

    {{navigation}}

    <section class="banner" role="banner">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2>{{@blog.description}}</h2>
    </section>
</header>

{{> loop}}
