 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Open Sans", sans-serif
 }
 dl,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 ol,
 p,
 ul {
     text-rendering: geometricPrecision
 }
 dl dd,
 dl dt {
     margin-bottom: 1em
 }
 blockquote,
 pre {
     -moz-box-sizing: border-box
 }
 blockquote cite,
 dl dt {
     font-weight: 700
 }
 dl,
 ol,
 p,
 pre,
 ul {
     margin: 0 0 1.75em
 }
 blockquote small,
 kbd {
     display: inline-block
 }
 pre,
 table {
     width: 100%
 }
 .index-wrapper section#timeline article div.inner a,
 .overlay ul li a,
 .pagination a,
 .related-posts li a,
 button,
 header .banner h1 a {
     text-decoration: none
 }
 body,
 html {
     margin: 0;
     padding: 0
 }
 body {
     height: 100%;
     max-height: 100%;
     letter-spacing: .03rem;
     font-size: 1.2rem;
     line-height: 1rem;
     color: #3A4145;
     background: #3A4145;
 }
 ::-moz-selection {
     background: #D6EDFF
 }
 ::selection {
     background: #D6EDFF
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: #2E2E2E;
     line-height: 1.15em;
     margin: 0
 }
 code,
 pre,
 tt {
     font-family: Inconsolata, monospace, sans-serif;
     background: #F7FAFB
 }
 h1 {
     font-size: 2.5rem;
     letter-spacing: -2px
 }
 h2 {
     font-size: 2.2rem;
     letter-spacing: -1px
 }
 h3 {
     font-size: 2rem;
     letter-spacing: -.6px
 }
 h4 {
     font-size: 1.5rem
 }
 h5 {
     font-size: 1.4rem
 }
 h6 {
     font-size: 1.2rem
 }
 a {
     color: #4A4A4A;
     transition: color .3s ease
 }
 a:hover {
     color: #268bd2
 }
 dl,
 ol,
 p,
 ul {
     -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
     -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
     -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1
 }
 ol,
 ul {
     padding-left: 3rem
 }
 ol ol,
 ol ul,
 ul ol,
 ul ul {
     margin: 0 0 .4em;
     padding-left: 2em
 }
 dl dt {
     float: left;
     width: 180px;
     overflow: hidden;
     clear: left;
     text-align: right;
     text-overflow: ellipsis;
     white-space: nowrap
 }
 dl dd {
     margin-left: 200px
 }
 li {
     margin: .4em 0
 }
 li li {
     margin: 0
 }
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: #EFEFEF 1px solid;
     margin: 3.2em 0;
     padding: 0
 }
 blockquote {
     box-sizing: border-box;
     margin: 1.75em 0;
     padding: 0 0 0 1.75em;
     border-left: #4A4A4A .4em solid
 }
 blockquote p {
     margin: .8em 0;
     font-style: italic
 }
 blockquote small {
     margin: .8em 0 .8em 1.5em;
     font-size: .9em;
     color: #CCC
 }
 blockquote small:before {
     content: "\2014 \00A0"
 }
 blockquote cite a {
     font-weight: 400
 }
 mark {
     background-color: #fdffb6
 }
 code,
 tt {
     padding: 1px 3px;
     font-size: .85em;
     white-space: pre-wrap;
     border: 1px solid #E3EDF3;
     border-radius: 2px;
     -webkit-font-feature-settings: "liga" 0;
     -moz-font-feature-settings: "liga" 0;
     font-feature-settings: "liga" 0
 }
 pre {
     box-sizing: border-box;
     border: 1px solid #E3EDF3;
     padding: 10px;
     font-size: .9em;
     white-space: pre;
     overflow: auto;
     border-radius: 3px
 }
 button,
 input,
 select,
 textarea {
     outline: 0;
     font-family: 'Open Sans', sans-serif
 }
 pre code,
 pre tt {
     font-size: inherit;
     white-space: pre-wrap;
     background: 0 0;
     border: none;
     padding: 0
 }
 kbd {
     margin-bottom: .4em;
     padding: 1px 8px;
     border: 1px solid #CCC;
     color: #666;
     text-shadow: #FFF 0 1px 0;
     font-size: .9em;
     font-weight: 700;
     background: #F4F4F4;
     border-radius: 4px;
     box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 #fff inset
 }
 table {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 1.75em 0;
     max-width: 100%;
     background-color: transparent
 }
 table td,
 table th {
     padding: 8px;
     line-height: 20px;
     text-align: left;
     vertical-align: top;
     border-top: #EFEFEF 1px solid
 }
 .overlay nav,
 .pagination,
 button,
 header .banner {
     text-align: center
 }
 table th {
     color: #000
 }
 table caption+thead tr:first-child td,
 table caption+thead tr:first-child th,
 table colgroup+thead tr:first-child td,
 table colgroup+thead tr:first-child th,
 table thead:first-child tr:first-child td,
 table thead:first-child tr:first-child th {
     border-top: 0
 }
 table tbody+tbody {
     border-top: #EFEFEF 2px solid
 }
 table table table {
     background-color: #FFF
 }
 table tbody>tr:nth-child(odd)>td,
 table tbody>tr:nth-child(odd)>th {
     background-color: #F6F6F6
 }
 table.plain tbody>tr:nth-child(odd)>td,
 table.plain tbody>tr:nth-child(odd)>th {
     background: 0 0
 }
 .fluid-width-video-wrapper,
 iframe {
     display: block;
     margin: 1.75em 0
 }
 .overlay ul,
 button {
     display: inline-block
 }
 .fluid-width-video-wrapper iframe {
     margin: 0
 }
 input,
 select,
 textarea {
     width: 260px;
     padding: 6px 9px;
     margin: 0 0 5px;
     font-size: 1.6rem;
     font-weight: 100;
     line-height: 1.4em;
     background: #fff;
     border: 1px solid #e7eef2;
     border-radius: 4px;
     box-shadow: none;
     -webkit-appearance: none
 }
 textarea {
     width: 100%;
     max-width: 340px;
     min-width: 250px;
     height: auto;
     min-height: 80px
 }
 input[type=tel]:focus,
 input[type=url]:focus,
 input[type=password]:focus,
 input[type=number]:focus,
 input[type=date]:focus,
 input[type=month]:focus,
 input[type=week]:focus,
 input[type=time]:focus,
 input[type=datetime]:focus,
 input[type=datetime-local]:focus,
 input[type=text]:focus,
 input[type=email]:focus,
 input[type=search]:focus,
 textarea:focus {
     border: 1px solid #bbc7cc;
     background: #fff;
     outline: 0
 }
 select {
     width: 270px;
     height: 30px;
     line-height: 30px
 }
 button {
     min-height: 35px;
     width: auto;
     padding: .1rem 1.5rem;
     cursor: pointer;
     color: #fff;
     font-size: 11px;
     line-height: 13px;
     font-weight: 300;
     letter-spacing: 1px;
     text-transform: uppercase;
     text-shadow: none;
     border-radius: .3rem;
     border: .1em solid rgba(0, 0, 0, .05);
     background: #5ba4e5
 }
 header {
     color: #3A4145;
     position: relative;
     width: 100%;
     z-index: 2
 }
 header .banner {
     margin: 80px auto
 }
 header .banner h1 {
     color: #fff;
     font-family: 'Dancing Script';
     font-size: 4.85em;
     margin-bottom: 1em
 }
 header .banner h1 a {
     color: #fff
 }
 header .banner h2 {
     color: #fff;
     font-size: 1.5em;
     font-style: italic;
     font-weight: 300;
     line-height: 1.5;
     margin: 0 auto;
     width: 50%
 }
 .button_container {
     position: fixed;
     top: 5%;
     right: 2%;
     height: 27px;
     width: 35px;
     cursor: pointer;
     z-index: 1000;
     -webkit-transition: opacity .25s ease;
     transition: opacity .25s ease
 }
 .button_container:hover {
     opacity: .7
 }
 .button_container.active .top {
     -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
     transform: translateY(10px) translateX(0) rotate(45deg);
     background: #fff
 }
 .button_container.active .middle {
     opacity: 0;
     background: #fff
 }
 .button_container.active .bottom {
     -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
     transform: translateY(-10px) translateX(0) rotate(-45deg);
     background: #fff
 }
 .button_container span {
     background: #fff;
     border: none;
     height: 5px;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-transition: all .35s ease;
     transition: all .35s ease;
     cursor: pointer
 }
 .index-wrapper section#timeline article div.inner,
 .post-wrapper {
     border-radius: 2px;
     box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
 }
 .button_container span:nth-of-type(2) {
     top: 10px
 }
 .button_container span:nth-of-type(3) {
     top: 20px
 }
 .overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     line-height: 2.5em;
     opacity: 1;
     visibility: hidden;
     -webkit-transition: opacity .35s, visibility .35s, width .35s;
     transition: opacity .35s, visibility .35s, width .35s;
     z-index: 100
 }
 .overlay:after,
 .overlay:before {
     background: #3A4145;
     top: 0;
     width: 50%;
     position: absolute;
     height: 100%;
     content: ''
 }
 .overlay:before {
     left: -55%;
     -webkit-transition: left .35s ease;
     transition: left .35s ease
 }
 .overlay:after {
     right: -55%;
     -webkit-transition: all .35s ease;
     transition: all .35s ease
 }
 .overlay.open {
     opacity: .99;
     visibility: visible;
     height: 100%
 }
 .overlay.open:before {
     left: 0
 }
 .overlay.open:after {
     right: 0
 }
 .overlay.open li {
     -webkit-animation: fadeInRight .5s ease forwards;
     animation: fadeInRight .5s ease forwards;
     -webkit-animation-delay: .35s;
     animation-delay: .35s
 }
 .overlay.open li:nth-of-type(2) {
     -webkit-animation-delay: .45s;
     animation-delay: .45s
 }
 .overlay.open li:nth-of-type(3) {
     -webkit-animation-delay: .55s;
     animation-delay: .55s
 }
 .overlay.open li:nth-of-type(4) {
     -webkit-animation-delay: .65s;
     animation-delay: .65s
 }
 .overlay nav {
     position: relative;
     height: 70%;
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     font-size: 50px;
     font-weight: 400;
     z-index: 100;
 }
 .overlay ul {
     list-style: none;
     padding: 0;
     margin: 0 auto;
     position: relative;
     height: 100%
 }
 .overlay ul li {
     display: block;
     height: 25%;
     height: calc(100% / 4);
     min-height: 50px;
     position: relative;
     opacity: 0
 }
 .overlay ul li a {
     display: block;
     position: relative;
     line-height: 1.2em;
     color: #FFF;
     overflow: hidden
 }
 .overlay ul li a:active:after,
 .overlay ul li a:focus:after,
 .overlay ul li a:hover:after {
     width: 100%
 }
 .overlay ul li a:after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 50%;
     width: 0;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     height: 3px;
     background: #FFF;
     -webkit-transition: .35s;
     transition: .35s
 }
 .index-wrapper section#timeline article div.inner,
 .pagination {
     overflow: hidden;
     transition: all .3s cubic-bezier(.25, .8, .25, 1)
 }
 @-webkit-keyframes fadeInRight {
     0% {
         opacity: 0;
         left: 20%
     }
     100% {
         opacity: 1;
         left: 0
     }
 }
 @keyframes fadeInRight {
     0% {
         opacity: 0;
         left: 20%
     }
     100% {
         opacity: 1;
         left: 0
     }
 }
 .post-wrapper {
     margin: 6% auto 0;
     background: #fff;
     padding: 30px;
     max-width: 840px;
     line-height: 1.75em;
     overflow: hidden
 }
 .post-date {
     color: #9a9a9a;
     margin-bottom: 1.6em
 }
 .index-wrapper {
     margin-top: 6%;
     line-height: 1.75em
 }
 .index-wrapper section#timeline {
     width: 80%;
     margin: 20px auto;
     position: relative
 }
 .index-wrapper section#timeline:before {
     content: '';
     display: block;
     position: absolute;
     left: 50%;
     top: 0;
     margin: 0 0 0 -1px;
     width: 4px;
     height: 100%;
     background: rgba(255,255,255,0.8)
 }
 .index-wrapper section#timeline article {
     width: 100%;
     margin: 0 0 20px;
     position: relative
 }
 .index-wrapper section#timeline article:after {
     content: '';
     display: block;
     clear: both
 }
 .index-wrapper section#timeline article div.inner {
     width: 40%;
     float: left;
     margin: 5px 0 0;
     background: #fff
 }
 .index-wrapper section#timeline article div.inner:hover {
     box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
 }
 .index-wrapper section#timeline article div.inner span.date,
 .pagination {
     background: #fff;
     box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
 }
 .index-wrapper section#timeline article div.inner span.date {
     display: block;
     width: 60px;
     height: 50px;
     padding: 5px 0;
     position: absolute;
     top: 0;
     left: 50%;
     margin: 0 0 0 -32px;
     border-radius: 100%;
     font-size: 12px;
     font-weight: 900;
     text-transform: uppercase;
     color: #3A4145;
     border: 2px solid transparent
 }
 .index-wrapper section#timeline article div.inner span.date span {
     display: block;
     text-align: center;
     line-height: 1.3em
 }
 .index-wrapper section#timeline article div.inner span.date span.day {
     font-size: 10px
 }
 .index-wrapper section#timeline article div.inner span.date span.month {
     font-size: 18px
 }
 .index-wrapper section#timeline article div.inner span.date span.year {
     font-size: 10px
 }
 .index-wrapper section#timeline article div.inner h2 {
     padding: 15px 20px 5px;
     margin: 0;
     font-size: 1.6em;
     border-radius: 2px 2px 0 0;
     position: relative
 }
 .index-wrapper section#timeline article div.inner h2:after {
     content: '';
     position: absolute;
     top: 20px;
     right: -5px;
     width: 10px;
     height: 10px;
     -webkit-transform: rotate(-45deg)
 }
 .index-wrapper section#timeline article div.inner img {
     max-width: 100%;
     height: auto;
 }
 .post-wrapper .cover-img {
     width: 110%;
     margin: -30px 0 20px -30px
 }
 .post-wrapper img {
     width: 110%;
     margin: -20px 0 20px -30px
 }
 .index-wrapper section#timeline article div.inner p {
     padding: 5px 20px 15px;
     margin: 0;
     font-size: 1em;
     color: #656565;
     border-radius: 0 0 2px 2px
 }
 .index-wrapper section#timeline article div.inner .post-date,
 .index-wrapper section#timeline article div.inner h1,
 .index-wrapper section#timeline article div.inner h3,
 .index-wrapper section#timeline article div.inner h4,
 .index-wrapper section#timeline article div.inner h5,
 .index-wrapper section#timeline article div.inner h6 {
     padding-left: 20px;
     margin: 0
 }
 .index-wrapper section#timeline article:nth-child(2n+2) div.inner {
     float: right
 }
 .index-wrapper section#timeline article:nth-child(2n+2) div.inner h2:after {
     left: -5px
 }
 .pagination {
     margin: 100px auto;
     border-radius: 50px;
     padding: 15px;
     color: rgba(0, 0, 0, .5);
     max-width: 200px
 }
 .pagination a {
     display: inline-block;
     color: #3A4145;
     font-size: 1.5em
 }
 .older-posts {
     margin: 0 0 0 15px
 }
 .newer-posts {
     margin: 0 15px 0 0
 }
 .related {
     max-width: 840px;
     margin: 0 auto;
     padding: 40px 20px
 }
 .related-posts {
     padding-left: 0;
     list-style: none;
     margin-left: 30px
 }
 .related-posts h3 {
     margin-top: 0
 }
 .related-posts li small {
     font-size: .8em;
     color: #999
 }
 .related-posts li a:hover {
     color: #268bd2;
     text-decoration: none
 }
 .related-posts li a:hover small {
     color: inherit
 }
 footer {
     font-size: 12px;
     color: #bbb;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 60px
 }
 @media screen and (max-width:1000px) {
     .index-wrapper section#timeline article:nth-child(n) div.inner {
         float: right
     }
     .index-wrapper section#timeline article div.inner span.date,
     .index-wrapper section#timeline:before {
         left: 0
     }
     .index-wrapper section#timeline article div.inner {
         width: 90%
     }
     .post-wrapper .cover-img,
     .post-wrapper img {
         width: 115%
     }
 }
 @media screen and (max-width:600px) {
     .index-wrapper section#timeline article:nth-child(n) div.inner {
         float: right
     }
     .index-wrapper section#timeline {
         width: 95%;
     }
     .index-wrapper section#timeline article div.inner span.date,
     .index-wrapper section#timeline:before {
         left: 0;
         display: none
     }
     .index-wrapper section#timeline article div.inner,
     .post-wrapper section#timeline article div.inner {
         width: 100%
     }
     .post-wrapper .cover-img,
     .post-wrapper img {
         width: 130%
     }
     header .banner h1 {
         font-size: 3.5em
     }
     header .banner h2 {
         font-size: 1.2em
     }
     .social .min-date {
         display: inline-block
     }
     .social .tag {
         display: none
     }
 }
